<h1><%=@question.question%></h1>
<h4>Answers:</h4>
<div id='answers'>
<% @question.answers.each do |answer| %>
	<%= render 'answers/answer', answer: answer %>
<% end %> 
</div>

<%= link_to "Add an Answer", new_question_answer_path(@question), class: 'btn btn-primary', id: 'new_link', remote: true %>

<% if current_user != nil && current_user.id == @question.user_id %>
  <p><%= link_to "Delete", question_path(@question), method: "delete", :class => 'btn btn-danger' %></p>
<% end %>

<p><%= link_to 'Home', questions_path %>
